@using NET_Advanced.Areas.Identity.Data;
@model NET_AdvancedUser

@{
    ViewData["Title"] = "Verwijder Gebruiker";
}

<h1>Verwijder Gebruiker</h1>

<p>Weet je zeker dat je de gebruiker @Model.Voornaam wilt verwijderen?</p>

<form asp-action="DeleteConfirmed" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <button type="submit" class="btn btn-danger">Verwijder</button>
        <a href="@Url.Action("Index", "Admin")" class="btn btn-secondary">Annuleren</a>
    </div>
</form>


