@using Microsoft.AspNetCore.Identity
@using NET_Advanced.Areas.Identity.Data

@inject SignInManager<NET_AdvancedUser> SignInManager
@inject UserManager<NET_AdvancedUser> UserManager

@{
    var user = await UserManager.GetUserAsync(User);  // Haal de ingelogde gebruiker op
    var firstName = user?.Voornaam;  // Haal de voornaam op van de gebruiker (indien beschikbaar)
}
@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" method="post" id="logoutForm" class="form-inline">
        <ul class="navbar-nav">
            <li class="nav-item">
                <span class="nav-link text-dark">Welkom, @firstName!</span>
            </li>
            <li class="nav-item">
                <button type="submit" class="btn btn-link nav-link text-dark">Logout</button>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
    </ul>
}