@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<NET_Advanced.Resources.Resource> Localizer;

<div class="text-center">
    <h1 class="display-4">@Localizer["HomePageTitle"]</h1>
    <p>@Localizer["HomePageDescription"]</p>
</div>